.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #eaeaea;
    border-radius: 6px;
    gap: 3px;
    width: 50%;
    padding: 1%;
}

.input > input {
    height: 0.1em;
    width: 13em;
}

img {
    width: 10%;
}

.modal-overlay {
    margin-left: 1em;
    margin-right: 1em;
}

.modal-overlay button {
    font-size: 3em;
}

.input input {
    border: none;                   /* Removes the default border */
    outline: none;                  /* Removes the focus outline */
    padding: 1em;                   /* Adjust padding for comfort */
    background-color: #eaeaea;    /* Matches the background for a seamless look */
    /* border-radius: 4px;             Matches your rounded corners */
    font-size: 3em;                 /*Adjust font size as needed */
    width: 90%;
}

.input input:focus {
    outline: none;            /* Ensures no border on focus */
    border: 1px solid #5A20CB; /*Optional: Add a custom border on focus */
    box-shadow: none;         /* Removes any extra shadow if applied */
    border-radius: 6px;
}

.budget-item {
    list-style-type: none;
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
}

.budget-table {

}

.budget-table th,
.budget-table td {
    border: 1px solid #ccc; /* Add borders */
    padding: 8px; /* Add padding */
}

.budget-table th {
   
}

.budget-table td button {
    margin-right: 5px; /* Space between buttons */
}

