* {
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    color: #ffffff;
    gap: 2em;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #4a128a;
    box-shadow: #ffffff;
    width: 100%;
    height: 8em;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.logo {
    font-size: 2em;
    font-weight: 500;
}

.nav-item {
    font-size: 2em;
}

#profile {
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

#profile img {
    cursor: pointer;
}

.summary-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: gray;
    align-content: center;
}

.totalIncome, .totalExpenses, .totalBudgets {
    font-size: 3em;
}

td {
    background: white;
}


.totalBudgets {
    text-decoration: underline;
}