* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

.navbar {
    width: 100%;
}

.navbar-container {
    display: flex;
    color: #73655d;
    gap: 2rem;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d9b0;
    box-shadow: #ffffff;
    width: 100%;
    height: 8rem;
}

.nav-link {
    color: #73655d;
    text-decoration: none;
    border-bottom: 2px solid #73655d;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
    /* min-width: 400px; */
}

.nav-item > a {
    font-size: 1.8rem;
}

#profile {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    /* min-width: 55px;
    height: auto; */
}


#profile > img {
    cursor: pointer;
    width: 4rem;
}

.summary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #C5D3D9;
    width: 80%;
    height: 50%;
    padding: 2rem;
    align-items: center;
    align-content: center;
    margin: auto;
    align-self: center;
    justify-items: center;
}

.totalIncome, .totalExpenses {
    font-size: 3rem;
    color: #73655d;
}

.summaryHeader {
    grid-area: 1 / 1 / auto / 3;
}

.totalBudgets {
    align-self: center;
    margin-top: 1rem;
    grid-area: 3 / 1 / auto / 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.budget-summary {
    font-size: 2rem;
}

.budget-summary {
    width: 40%;
    border-collapse: collapse;
    margin: 2rem auto;
    background: linear-gradient(180deg, #a248e2, #640f92);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    table-layout: fixed;
}

.budget-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid #73655d;
    border-radius: 10px;
    padding: 0.5em;
    width: 25%;
    margin-bottom: 1em;
    background-color: #d0d9b0;
    
}

.budget-card h4 {
    /* row column row column */
    grid-area: 1 / 1 / 1 / 1;
}

.budget-card p {
    align-self: center;
    justify-self: end;
    font-size: 1.2em;
    
}

.budget-card > div {
    grid-column: 1 / 3;
    align-self: end;
}

.budget-summary th, td {
    text-align: left;
    padding: 0.75rem;
    border: 1px solid #ccc;
}

.budget-summary th {
    color: #d4d1d1;
    font-size: 2.5rem;
}
.budget-summary td {
    color: white;
    font-weight: 500;
}

.summaryHead {
    text-align: center;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
} */