* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

}

.navbar {
    width: 100%;
}

.navbar-container {
    display: flex;
    color: #73655d;
    gap: 2rem;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d9b0;
    box-shadow: #ffffff;
    width: 100%;
    height: 8rem;
}

.nav-link {
    color: #73655d;
    text-decoration: none;
    border-bottom: 2px solid #73655d;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
    /* min-width: 400px; */
}

.nav-item > a {
    font-size: 1.8rem;
}

#profile {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    /* min-width: 55px;
    height: auto; */
}


#profile > img {
    cursor: pointer;
    width: 4rem;
}

.summary-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    align-items: center;
    align-content: center;
}

.totalIncome, .totalExpenses, .totalBudgets {
    font-size: 3rem;
}

.totalIncome, .totalExpenses, .totalBudgets {
    color: aliceblue;
}

.totalBudgets {
    align-self: center;
    margin-top: 1rem;
}

.budget-summary {
    font-size: 2rem;
}

.budget-summary {
    width: 40%;
    border-collapse: collapse;
    margin: 2rem auto;
    background: linear-gradient(180deg, #a248e2, #640f92);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    table-layout: fixed;
}
/* #root > div > table > thead > tr  { 
    background-color: #4a0072;
    color:#ffffff;
} */

.budget-summary th, td {
    text-align: left;
    padding: 0.75rem;
    border: 1px solid #ccc;
}

.budget-summary th {
    color: #d4d1d1;
    font-size: 2.5rem;
}
.budget-summary td {
    color: white;
    font-weight: 500;
}

.summaryHead {
    text-align: center;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.totalBudgets {
    text-decoration: underline;
}

.budget-card {
    width: 300px;
}

.progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
} */