.text {
    color: #73655D;
    font-size: 5em;
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    margin: auto;
    background: #C5D3D9;
    font-size: 8px;
    width: 60%;
    border-radius: 3px;
    padding: 1%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100%;
    margin-top: 3%;
    grid-column: 2;
    grid-row: 1;
}

.underline {
    margin-top: 0;
    width: 15%;
    height: 2px;
    background: #F2B84B;
    border-radius: 9px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 3%;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    border-left: 4px solid #D0D9B0;
}

.login-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: none;
    border-bottom: 2px solid #D0D9B0;
    border-radius: 6px;
    gap: 2em;
    width: 75%;
    padding: 1%;
}

.login-input > input {
    height: 1.5em;
    width: 13em;
}

img {
    width: 10%;
}

.login-input input {
    border: none;
    background: none;
    outline: none;
    padding: 4px;
    width: 80%;
    font-size: 2.7em;
}

.login-input input:focus {
    box-shadow: none;
    border-radius: 6px;
}

.forgot-password {
    color: #a0a0a0;
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 2%;
    grid-column: 2;
    grid-row: 3;
}

.welcome-msg {
    color: #73655D;
    font-weight: 600;
    font-size: 2.7em;
    margin-top: 2%;
    width: 80%;
    grid-column: 1;
    grid-row: 1 / 5;
}

.bold {
    font-weight: 700;
}

span {
    color: #F28080;
    font-weight: 500;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 1em;
    font-size: 4.5em;
    grid-column: 2;
    grid-row: 4;
}

.submit-container > * {
    background: #F2B84B;
    color: #eaeaea;
    font-weight: 500;
    border-radius: 8px;
    font-size: 0.7em;
    padding: 2%;
    width: 6em;
    text-align: center;
    cursor: pointer;
}

.gray {
    background-color: #a0a0a0;
}