#root {
    align-items: center;
}

.income-container {
    display: flex;
    flex-direction: column;
    background-color: #c5d4d9;
}

.income-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income-text {
    color: #73655d;
    font-size: 3em;
    font-weight: 600;
}

.income-underline {
    margin-top: 0;
    width: 5%;
    height: 2px;
    background: #F2B84B;
    border-radius: 9px;
}

.modal-overlay {
    display: grid;
    width: 50%;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    left: 25%;
    height: 30%;
}

.modal-content {
    display: flex;
}

.modal-inputs {
    display: flex;
}